<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/fc-3.2.2/fh-3.1.2/r-2.1.0/datatables.min.css">
            <!--external css-->
            <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
            <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">

            <!-- Custom styles for this template -->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style-responsive.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div>
    </div>
    <section id="container" >
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="{{ path('demand') }}" class="logo"><b>Gestion d'attestations</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <!-- settings end -->
                    <!-- inbox dropdown start-->

                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            {% if app.user %}
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="{{ path('logout') }}">Déconnexion</a></li>
                </ul>
            </div>
            {% endif %}
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar"  class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered">
                        <a href="{{ path('demand') }}">
                            <img src="{{ asset('img/transtu_logo.png') }}" class="img-circle" style="width: 100px !important" width="60">
                        </a>
                    </p>
                    <h5 class="centered">TRANSTU</h5>
                    {% if not app.user %}
                    <li class="mt">
                        <a class="" href="{{ path('login') }}">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="mt">
                        <a class="" href="{{ path('demand') }}">
                            <i class="fa fa-refresh"></i>
                            <span>Faire une demande en ligne</span>
                        </a>
                    </li>
                    <li class="mt">
                        <a class="" href="{{ path('certificate') }}">
                            <i class="fa fa-certificate"></i>
                            <span>Espace demande</span>
                        </a>
                    </li>
                    <li class="mt">
                        {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="" href="{{ path('register') }}">
                            <i class="fa fa-user"></i>
                            <span>ajouter un Agent</span>
                        </a>
                    </li>
                    <li class="mt">
                        <a class="" href="{{ path('personnel') }}">
                            <i class="fa fa-user"></i>
                            <span>Ajouter un Employé</span>
                        </a>
                    </li>
                       <li class="mt">
                    <li class="sub-menu">
                        <a href="javascript:" >
                            <i class="fa fa-list"></i>
                            <span>Liste Agents/Employés</span>
                        </a>
                        <ul class="sub">
                            <li><a  href="{{ path('employee_index') }}">Employés</a></li>
                            <li><a  href="{{ path('user_index') }}">Agents</a></li>
                        </ul>
                    </li>
                       </li>
                    <li class="sub-menu">
                        <a href="javascript:" >
                            <i class="fa fa-cogs"></i>
                            <span>Paramétrage</span>
                        </a>
                        <ul class="sub">
                            <li><a  href="{{ path('grade_index') }}">Grade</a></li>
                            <li><a  href="{{ path('service_index') }}">Service</a></li>
                            <li><a  href="{{ path('typeattestation_index') }}">Attestation</a></li>
                        </ul>
                    </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                       <li class="mt">
                                <a class="" href="{{ path('list_demand') }}">
                                    <i class="fa fa-user"></i>
                                    <span>Liste des demandes</span>
                                </a>
                       </li>
                        <li class="mt">
                                <a class="" href="{{ path('new_certificate') }}">
                                    <i class="fa fa-hacker-news"></i>
                                    <span>Faire  demande</span>
                                </a>
                        </li>
                        {% endif %}
                        {% endif %}

                </ul>
            </div>
        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i> Transtu </h3>
                <div class="row mt">
                    <div class="col-md-12">
                        {% block body %}{% endblock %}
                    </div>
                </div>

            </section><! --/wrapper -->
        </section><!-- /MAIN CONTENT -->

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                Transtu 2018
                <a href="blank.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

        {% block javascripts %}
            <!-- js placed at the end of the document so the pages load faster -->
            {#<script src="{{ asset('js/jquery.js') }}"></script>#}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/validator.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui-1.9.2.custom.min.js') }}"></script>
            <script src="{{ asset('js/jquery.ui.touch-punch.min.js') }}"></script>
            <script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>
            <script src="{{ asset('js/jquery.nicescroll.js') }}" type="text/javascript"></script>
            <script class="include" type="text/javascript" src="{{ asset('js/jquery.dcjqaccordion.2.7.js') }}"></script>

            <!--common script for all pages-->
            <script src="{{ asset('js/common-scripts.js') }}"></script>

            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>





        {% endblock %}
          <!--script for this page-->

        <script>
            //custom select box

            $(function(){
                //$('select.styled').customSelect();
            });

        </script>
    </body>
</html>
