

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 1%;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-user-information">
                <tbody>
                <tr>
                    <td>Nom & Prénom</td>
                    <td>{{ user.name ~ ' ' ~ user.lastName }}</td>
                </tr>
                <tr>
                    <td>Service</td>
                    <td>{{ user.service.name }}</td>
                </tr>
                <tr>
                    <td>Department:</td>
                    <td>Programming</td>
                </tr>
                <tr>
                <tr>
                    <td>Email</td>
                    <td><a href="{{ user.email }}">{{ user.email }} </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div id="certificate" class="text-center">
                    <h1>{{ user.typeAttestation.name }}</h1>
                    <p>
                        {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×</button>
                            <span class="glyphicon glyphicon-hand-right"></span> <strong>Message d'Erreur</strong>
                            <hr class="message-inner-separator">
                        {{ flashMessage }}
                         </div>
                        {% endfor %}
                    </p>
                </div>
                {{ form_start(form, {'attr' : {'id' : 'form-buscar'}}) }}
                {{ form_label(form.matricule) }}
                {{ form_errors(form.matricule) }}
                <div class="form-group">
                    <div class="input-group">
                        {{ form_widget(form.matricule, {'attr' : {'placeholder' : 'Numéro matricule...'}, 'required': true} ) }}
                        <span class="input-group-btn">
                             <button formtarget="_blank" class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-print" aria-hidden="true"></i>Imprimer</button>
                            </span>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}