<!DOCTYPE html>
<html lang="en">
<head>
    <meta  http-equiv="Content-Type" content="text/html; charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Attestation transtu</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style-responsive.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 50px;
        }
        @font-face {
            font-family: 'DINNextLTArabic';
            src: url('{{ asset('fonts/DINNextLTArabic-Medium.ttf') }}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'DINNextLTArabic';
            src: url('{{ asset('fonts/DINNextLTArabic-Medium.ttf') }}') format('truetype');
            font-weight: bold;
            font-style: normal;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
        {  font-family: 'DINNextLTArabic', serif; font-size: 12px;}
    </style>

</head>

<body>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3> Transtu </h3>
            Le : {{ "now"|date("m/d/Y") }} à Tunis
        </div>
    </div>
    <div class="row">
        <div class="starter-template">
            <h1>{{ user.typeAttestation.name }}</h1>
        </div>
    </div>

    <div class="row">
        Je soussigné(e) {{ user.name }} {{ user.lastName }} agissant en qualité de (fonction dans l’organisme de
        formation) de (raison sociale de l’organisme de formation) atteste que :
        Madame ou Monsieur {{ employee.name }} {{ employee.lastName }}
        de numéro matricule {{ employee.matricule }}
        a suivi la formation :
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<script type="text/javascript"> try { this.print(); } catch (e) { window.onload = window.print; } </script>
</body>
</html>