{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier Service </h1>

    <ul class="pull-right">
        <li>
            <a class="btn btn-info" href="{{ path('service_index') }}">Retour</a>
        </li>
    </ul>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button type="submit" class="btn btn-success">Modifier</button>
    {{ form_end(edit_form) }}
    <hr>
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Supprimer</button>
    {{ form_end(delete_form) }}
{% endblock %}
