{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h5>>Liste Services</h5>
        <a href="{{ path('service_new') }}" rel="tooltip" title="Ajouter service" class="btn btn-success pull-right" role="button">
            <span class="glyphicon glyphicon-plus"></span> Ajouter un service
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom service</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><a href="{{ path('service_show', { 'id': service.id }) }}">{{ service.id }}</a></td>
                <td>{{ service.name }}</td>
                <td>{{ service.code }}</td>
                <td>
                    <a href="{{ path('service_show', { 'id': service.id }) }}" class="btn btn-success btn-xs"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('service_edit', { 'id': service.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
