{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6 ">
        <div class="pull-right" style="padding: 10px">
            <a class="btn btn-info" href="{{ path('service_index') }}"><i class="fa fa-arrow-left"></i></a>
            <a class="btn btn-success" href="{{ path('service_edit', { 'id': service.id }) }}"><i class="fa fa-pencil"></i></a>
        </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ service.code }}</td>
            </tr>
        </tbody>
    </table>

        <div class="pull-right">
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">Supprimer</button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
